section.footer
  h4 About Us
  p
    | Thank you for visiting our website.
    br
    | We hope that you find the information and resources here helpful
    |                 and informative.
  .icons
    a(href='https://www.facebook.com/nagy.k.aly')
      i.fa.fa-facebook
    a(href='https://twitter.com/GeorgeYouhana2')
      i.fa.fa-twitter
    a(href='https://www.linkedin.com/in/abed-ibrahim-sultan/')
      i.fa.fa-linkdin
  p
    | Made With 
    i.fa.fa-heart-o
  p  Copyrights &copy; NagyScan 2023