section.footer
  h4 About Us
  p
    | Thank you for visiting our website.
    br
    | We hope that you find the information and resources here helpful
    |                 and informative.
  .icons
    a(href='https://www.facebook.com/eru.university/')
      i.fa.fa-facebook
    i.fa.fa-instagram
    i.fa.fa-twitter
    i.fa.fa-linkdin
  p
    | Made With 
    i.fa.fa-heart-o
  p  Copyrights &copy; NagyScan 2023