include partials/head.pug

.section
  .container
    .content-section
      .title
        h1 About Us
      .content
        h3
          | Welcome to our NagyScan website! We are a team of healthcare professionals and public health experts who have come together to provide accurate and up-to-date information about the coronavirus pandemic.
        p
          | Our mission is to help people understand the risks and impacts of COVID-19, as well as provide guidance on how to protect themselves and their communities from the virus.
          | We believe that by sharing knowledge and resources, we can help to slow the spread of COVID-19 and ultimately save lives.
    .image-section
      img(src='Nagy Scan.svg')

include partials/footer.pug