include partials/head.pug
header
  h1 Welcome #{usn}
  img.logo(src='Nagy Scan.svg' alt='Logo')
a(href='/logout' style="margin-left:45%") Logout
main
  section
    h2 Medical State
    p
      | Diagnosed with diabetes:
      if diab == 'Yes' 
        span#diabetes [YES]
      else
        span#diabetes [NO] 
    p
      | Diagnosed with hypertension: 
      if hypt == 'Yes'
        span#hypertension [YES]
      else 
        span#hypertension [NO]
  each rec in hist
    section
      h2 COVID-19 Test Result
      p
        | Time: 
        span#detection-date [#{rec.Date}]
      p
        | Doctor ID: 
        span#doctor-id [#{rec.D_user_name}]
      p
        | COVID-19 test result:
        if rec.Result == 'Positive' 
          span#test-result.positive [Positive]
        else 
          span#test-result.negative [Negative]
  //- section
  //-   h2 COVID-19 Test Results
  //-   p
  //-     | Date: 
  //-     span#detection-date [20/8/2022]
  //-   p
  //-     | Doctor ID: 
  //-     span#doctor-id [DOCTOR ID]
  //-   p
  //-     | COVID-19 test result: 
  //-     span#test-result.negative [Negative]
include partials/footer.pug      
