include partials/head.pug

.header
  .text-box
    h1 Welcome To NagyScan
    p
      | Website For Covid-19 Diagnosis
      br
      | Using X-Ray Result
    a.hero-btn(href='/signup') Start from Here

include partials/footer.pug