include partials/head.pug

.form
  form(action='/signup_d' method='POST')
    h2 Login
    .form-group
      label(for='username') Username
      input#username(type='text' name='username' required='')
    .form-group
      label(for='password') Password
      input#password(type='password' name='password' required='')
    .form-group
      button.signupbtn(type='submit') Login
      button.cancelbtn(type='button') Cancel

include partials/footer.pug